body { font-family:"Droid Sans", Ubuntu; }

.right { float:right; }
.alt { color:#aaa; font-style:italic; font-size:0.8em; }
a {color:#962020; -webkit-transition-property: background, #fff; -webkit-transition-duration: 0.25s, 0.25s; -webkit-transition-timing-function: linear, ease-in; -moz-transition-property: background, #fff; -moz-transition-duration: 0.25s, 0.25s; -moz-transition-timing-function: linear, ease-in; }
a:hover { color:#555;}
a:visited { color:maroon;}
a img { text-decoration:none; border:2px solid #444; }

h2 { letter-spacing:-1px;}
#logo { margin-top:1em; padding:0; width:450px; height:50px; background: url(../img/is-it-up-logo.jpg) no-repeat; text-indent: -9999px;}

#menu { font-size: 1.1em; margin-top:0; padding-top:0; border-bottom:3px solid #444; padding-bottom:6px; margin-bottom:0}
#menu li { list-style:none; display:inline; }
#menu a { display:inline; padding:8px 8px 6px 8px; margin-bottom:8px;font-weight:bold; text-transform:uppercase; font-style:none;}
#menu a:first { padding-left:0; }
#menu a:link, #menu a:visited { color:#962020; text-decoration: none;}
#menu a:hover {background:#aaa; color:white;}
#menu a.active {background:#444; color:white; }

body.jr #menu a.jr, body.am #menu a.am, body.pr #menu a.pr, body.cm #menu a.cm, body.tr #menu a.tr { background:#aaa; color:white; }

#content { font-family:"Droid Sans", "Helvetica Neue", Verdana, Arial, sans-serif; } 
h2 {margin-left:1em; color:#555;}
h3 { margin-left:1em; color:#444; }
#article-content p { padding-top:1em; font-family: 'Droid Sans', arial, sans-serif; line-height:1.5em;}
#article-attachments { clear:both; margin-top:6em; border-top:1px solid #444; }
#article-content p.attachment { float:left; margin:0 1em 1em 0; }

#article-archives ul { list-style:none }
#article-archives ul.months li { display:inline; padding-left:10px; }

#article-nav {padding:1px; background:#444; }
p#next-article { float:right; }
p#prev-article { float:left; }

#article-meta { }
#article-meta h4 { float:left; padding:0 1em 0 0.6em; }
#article-meta p.tags { background:#eee; padding:0.3em;}

#articles { list-style:none; }
#articles li{ padding:10px; margin:0em; }
#articles li:after { content:"#"; text-align:center;}
#articles h2 { font-size:26pt; padding:0; margin:0; }
#articles p.attachment { min-height:200px; overflow:hidden;}
#articles .image { position:relative; width:100%; }
#articles p{ margin:0;}
#articles .image h2 { font-size:20pt; position:absolute; width:400px; padding:10px; top:50px;  left:-10px; text-indent:-9999px; }
#articles .image h2 a { color:white; padding:10px; line-height:1.5em;}
#articles div.image:hover h2 { text-indent:0px; }
#articles div.image:hover h2 a { text-indent:0px; background:rgb(0,0,0); background:rgba(0,0,0,0.7);}

#editmenu { float:right; }
#editmenu ul {list-style:none; }
#editmenu li { display:inline; padding-left:1em; }

ul.submenu { font-family:"Droid Sans", "Helvetica Neue", Arial, sans; }
ul.submenu { background:#ddd; padding:0.5em 0 0.5em 0; margin-top:0; border-top:2px solid #999; border-radius:0 0 5px 5px ;}
ul.submenu a { padding:0 5px 0 5px; text-decoration:none; font-size:0.9em; color:#666; font-weight:normal; }
ul.submenu a:hover { color: #999; padding:0 2px 0 2px; font-weight:bold; }
ul.submenu {list-style:none; }
ul.submenu li { font-size:1.1em; color:#666; font-weight:bold; display:inline; padding-left:1em;}

p.genus-list { }
dl.genus img { border:none; }
dl.genus { float:left; width:160px; margin-right:1em; }
dl.genus dt { text-align:center; padding-left:0; }

p.animal-icon { float:right; }
p.animal-icon img { border:none; }
.animal .main-photo { border-bottom:1px solid #777; height:280px; padding:0; background:white; clear:both; padding:0; margin:0em; }
.animal .main-photo li {display:inline; padding:0; position:absolute; list-style: none; padding-bottom:1em;}
.animal .photos { list-style:none; clear:both; border-bottom:1px solid #777; padding:1em; margin:1em 0; }
.animal .photos p { display:inline; }
.animal .photo-rotator { padding:0; margin:0; }
.animal img { border:1px solid #aaa; }
.animal .info { float:left; border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:0 2em 0 1em; margin:0 1em 1em 0; background:fee; }
.animal .info ul { padding:0; list-style:none; }
.animal .info ul li {  }
.aniaml .description { padding-top:1em;  }
.animal .notes { clear:both; }
.animal .progeny { clear:both; }

.breed { font-size:1.2em; font-weight:bold; float:left; width:170px; padding:10px; margin-right:10px;}
.breed ul.animals {margin:0; padding:0; font-size;1em; font-weight:normal; list-style:none; }

.footer { margin-top:3em; color:#555; }

table.table2{
    font-style: normal;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.2em;
    border-collapse:collapse;
    text-align:center;
}
.table2 thead th, .table2 tfoot td{
    color:#fff;
    background-color:#222;
    font-weight:normal;
    text-shadow:1px 1px 1px #000;
}
.table2 tfoot th{
    padding:10px;
    font-size:18px;
    color:#888;
}
.table2 tfoot td{
    font-size:36px;
    color:#EF870E;
    border-top:none;
    border-bottom:3px solid #666;
    -moz-box-shadow:0px 1px 4px #000;
    -webkit-box-shadow:0px 1px 4px #000;
    box-shadow:0px 1px 4px #000;
}
.table2 thead th:empty{
    background:transparent;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.table2 thead :nth-last-child(1){
    border-right:none;
}
.table2 thead :first-child,
.table2 tbody :nth-last-child(1){
    border:none;
}
.table2 tbody th{
    text-align:right;
    padding:10px;
    color:#333;
    text-shadow:1px 1px 1px #ccc;
    background-color:#f9f9f9;
}
.table2 tbody td{
    padding:10px;
    background-color:#f0f0f0;
    border-right:1px dotted #999;
    text-shadow:-1px 1px 1px #fff;
    color:#333;
}
.table2 tbody span.check::before{
    content : url(../images/check1.png)
}

/* rotator in-page placement */
div.rotator { border-bottom:1px solid #777; height:280px; padding:0; background:white;}
/* rotator css */
div.rotator ul { margin-top:0; padding-left:0;}
div.rotator ul li { display:inline; padding:0; position:absolute; list-style: none; padding-bottom:1em;}
/* rotator image style */	
div.rotator ul li img { background: #FFF; -webkit-transition-property: background, #fff; -webkit-transition-duration: 0.25s, 0.25s; -webkit-transition-timing-function: linear, ease-in; -moz-transition-property: background, #fff; -moz-transition-duration: 0.25s, 0.25s; -moz-transition-timing-function: linear, ease-in; }
div.rotator img:hover { background:#D5DBF0;}
div.rotator ul li.show { z-index:500; }
