{% extends "base.html" %}
{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
{% block content %}
<h2>Login</h2>
<div class="row">
  <div class="span6 offset1">
    <form method=POST>{%csrf_token%}
    {{form}}
    <p><input class="btn" type="submit" value="Sign in" /> or <a href="{% url registration_register %}">Sign up for an account</a></p>
    </form>
  </div>
</div>
{% endblock %}
