{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
{% block title %}Register{% endblock %}

{% block content %}
<form method=POST>{% csrf_token %}
{{form.as_p}}
<p><input type='submit' value="Register" /></p>
</form>

{% endblock %}
