<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | Is it up!?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="en-US" />
    <meta name="keywords" content="onecardinal service uptime server maine {% block meta-keywords %}{% endblock %}" />
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <meta name="author" content="Colin Powell">

    <!-- Le styles -->
    <link href="{{MEDIA_URL}}css/bootstrap.css" rel="stylesheet">
    <link href="{{MEDIA_URL}}css/bootstrap-responsive.css" rel="stylesheet">
    <link href='{{MEDIA_URL}}css/main.css' rel='stylesheet' type='text/css'>
    {% block extra-head %}{% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{MEDIA_URL}}ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{MEDIA_URL}}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{MEDIA_URL}}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{MEDIA_URL}}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{MEDIA_URL}}ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body class="{% block body-class %}{% endblock %}">

    <div class="container">
      <div class="row">
          <div class="span12 logo">
	    <h1 id="logo">Is it up?</h1>
          </div>
      </div>
      <div class="row">
          <div class="span12">
          {% block content %}
          <h1>Do you know how your servers are?</h1>
          <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
          {% endblock %}
          </div>
      </div>

    </div> <!-- /container -->

      <hr>

    <div class="row">
      <div class="span11 offset1">
      <footer>
        <p>&copy; One Cardinal 2012</p>
      </footer>
      </div>
    </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{MEDIA_URL}}js/jquery.js"></script>
    <script src="{{MEDIA_URL}}js/bootstrap-alert.js"></script>
    <script src="{{MEDIA_URL}}js/bootstrap-dropdown.js"></script>
    <script src="{{MEDIA_URL}}js/bootstrap-scrollspy.js"></script>
    <script src="{{MEDIA_URL}}js/bootstrap-tab.js"></script>
    <script src="{{MEDIA_URL}}js/bootstrap-tooltip.js"></script>
    <script src="{{MEDIA_URL}}js/bootstrap-button.js"></script>

  </body>
</html>

